---
import AboutBlock from "@/components/AboutBlock.astro";
---

<section class="relative m-h-20 w-full mt-12 xl:mt-26 lg:mt-20 md:mt-16 py-24  hidden md:block">
  <img src="https://yizhanfei-prod1.oss-accelerate.aliyuncs.com/4299262263298/0ad240da-6258-4055-a108-fa9466533c8f.jpg" alt="Hero Background" class="absolute inset-0 w-full h-full object-cover -z-10" />
  <AboutBlock />
</section>