---
import BlockTitle from "@/components/BlockTitle.astro";
import BlockLR from "@/components/BlockLR.astro";
---

<section class="m-h-20 w-full relative">
  <div class="container flex flex-col gap-8 lg:gap-16 items-stretch py-12">
    <BlockTitle title="Advanced Manufacturing Techniques" sub_title="Custom laser machining for medical endoscope components" />
<div class="grid grid-cols-1 gap-8">
  <BlockLR 
    src="https://yizhanfei-prod1.oss-accelerate.aliyuncs.com/4299262263298/d0b5674f-3b3c-403c-b634-fd5337c85e54.jpg" 
    title="Ultra-Mini High-Precision Laser Cutting" 
    sub_title="0.017mm laser beam, controlling cutting accuracy within 0.02mm." 
  />
  <BlockLR 
    reverse={true} 
    src="https://yizhanfei-prod1.oss-accelerate.aliyuncs.com/4299262263298/f55890d8-6d26-4f9c-8eb5-2924b290327e.jpg" 
    title="Ultra-Mini Camera Module Welding" 
    sub_title="High-precision welding technology, achieving welding for camera modules as small as 0.5*0.5mm, ensuring stability and reliability of micro cameras." 
  />
  <BlockLR 
    src="https://yizhanfei-prod1.oss-accelerate.aliyuncs.com/4299262263298/0dd079ab-ce38-4b76-b265-e8905530cac8.jpg" 
    title="Dust-Free Precision Injection Molding" 
    sub_title="High-precision injection molding with ±0.5℃ temperature control, ensuring durability and comfort of handles." 
  />
</div>
  </div>
</section>