---
import { Link } from "@rxdrag/website-lib";

interface Props {
  isSelected: boolean;
  product: {
    title: string;
    slug: string;
  };
}
const { isSelected, product } = Astro.props;---

<div class="product-link-item">
  <Link
    class:list={[
      "h-[120px] px-12 flex items-center shadow-md relative overflow-hidden group",
      isSelected
        ? "bg-primary text-secondary"
        : "bg-surface-card text-primary hover:scale-105 hover:shadow-lg",
      "hover:bg-primary hover:text-secondary transition-all duration-300",
    ]}
    to={isSelected ? undefined : "/" + product.slug}
  >
    <div class="flex flex-col gap-1 uppercase">
      <h3 class="text-xl font-bold">{product.title}</h3>
      <p class="text-base">Pool & Spa</p>
    </div>
    <div
      class:list={[
        "rounded-full dark size-[200px] absolute top-0 right-0 translate-x-1/2 translate-y-[30px]",
        isSelected ? "bg-secondary text-primary" : "bg-primary text-secondary",
        "group-hover:bg-secondary group-hover:text-primary transition-colors duration-300",
        "p-8",
      ]}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-10 ml-2 mt-1"
        viewBox="0 0 24 24"
      >
        <>
          <path
            fill="currentColor"
            d="M15.729 3.884c1.434-1.44 3.532-1.47 4.693-.304c1.164 1.168 1.133 3.28-.303 4.72l-2.423 2.433a.75.75 0 0 0 1.062 1.059l2.424-2.433c1.911-1.919 2.151-4.982.303-6.838c-1.85-1.857-4.907-1.615-6.82.304L9.819 7.692c-1.911 1.919-2.151 4.982-.303 6.837a.75.75 0 1 0 1.063-1.058c-1.164-1.168-1.132-3.28.303-4.72z"
          ></path>
          <path
            fill="currentColor"
            d="M14.485 9.47a.75.75 0 0 0-1.063 1.06c1.164 1.168 1.133 3.279-.303 4.72l-4.847 4.866c-1.435 1.44-3.533 1.47-4.694.304c-1.164-1.168-1.132-3.28.303-4.72l2.424-2.433a.75.75 0 0 0-1.063-1.059l-2.424 2.433c-1.911 1.92-2.151 4.982-.303 6.838c1.85 1.858 4.907 1.615 6.82-.304l4.847-4.867c1.911-1.918 2.151-4.982.303-6.837"
          ></path>
        </>
      </svg>
    </div>
  </Link>
</div>
