---
import Layout from "@/layouts/Layout.astro";
import { Meta, Link } from "@rxdrag/website-lib";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import IconRight from "@/components/IconRight.astro";
import CtaBlock from "@/components/CtaBlock.astro";
import Footer from "@/components/Footer.astro";
import Globals from "@/components/Globals.astro";
---

<Layout>
  <Header />
  <Meta title="404 - Page Not Found" slot="meta" />
  <Breadcrumb separator="/" />
  <div class="container mt-36 mx-auto px-4 py-16">
    <div class="max-w-4xl mx-auto py-0 md:py-12 lg:24 xl:36">
      <div class="flex flex-col md:flex-row items-center space-x-8">
        <img src="https://yizhanfei-prod1.oss-accelerate.aliyuncs.com/4299262263298/254d7b0c-7206-4374-9a77-a6e945bdadd3.png" alt="404 Icon" class="size-64" />
        <div class="flex flex-col items-start gap-8">
          <h1 class="text-4xl font-bold text-gray-900 tracking-tight text-left">
            404 - Page Not Found
          </h1>
          <p class="text-base text-foreground-secondary max-w-lg text-left leading-relaxed">
            The page you are looking for might have been removed, had its name
            changed, or is temporarily unavailable.
          </p>
          <Link to="/" class="text-primary font-semibold flex gap-2 items-center">
            Return to home
            <IconRight class="size-6" />
          </Link>
        </div>
      </div>
    </div>
  </div>
  <CtaBlock />
  <Footer />
  <Globals />
</Layout>